// sidebar
$menuText:#bfcbd9;
$menuActiveText:#409EFF;
$subMenuActiveText:#f4f4f5; //https://github.com/ElemeFE/element/issues/12951

$menuBg:rgb(31, 26, 109);
$menuHover:rgb(21, 60, 142);

$subMenuBg: #2f206d;
$subMenuHover: #3c2a6d;

$sideBarWidth: 210px;


// fandp start

// fandp end



// zhengcj start
$pageHeaderHeight: 100px;
// zhengcj end

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  pageHeaderHeight: $pageHeaderHeight;
}

